#embedded-viewer {
    background-color: white;
    display: inline-flex;
    position: absolute;
    border-radius: 10px;
    border: 1px solid black;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.not-full-screen {
    width: 60vw;
    height: 90vh;
    left: 20vw;
    top: 6vh;
}
